* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f6f8;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #3182bd;
  color: white;
  text-align: center;
  padding: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


nav {
  background-color: #fff;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 0.8em;
  border-bottom: 2px solid #3182bd;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav a {
  color: #e6550d;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s, transform 0.2s;
}

nav a:hover,
nav a.active {
  color: #225ea8;
  transform: scale(1.05);
}


main {
  display: flex;
  flex: 1;
  padding: 1.5em;
  gap: 1.5em;
}


aside {
  background-color: white;
  width: 220px;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

aside h2 {
  color: #e6550d;
  margin-bottom: 1em;
}

aside ul {
  list-style: none;
}

aside ul li {
  margin: 0.5em 0;
}

aside ul a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

aside ul a:hover {
  color: #3182bd;
}

#dashboard-content {
  flex: 1;
  background-color: white;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#dashboard-content h2 {
  color: #3182bd;
  margin-bottom: 1em;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: #3182bd;
  color: white;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f7ff;
  transition: background 0.3s ease;
}

/* footet */
footer {
  background-color: #e6550d;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 0.9rem;
  margin-top: auto;
}
